<link rel="stylesheet" href="/static/style.css">

<div class="card">

<h2>Select Date & Time</h2>

<form method="POST">

<label>Date</label>
<input type="date" name="date" required>

<label>Start Time</label>
<select name="start_time">

<option value="9">9 AM</option>
<option value="10">10 AM</option>
<option value="11">11 AM</option>
<option value="12">12 PM</option>
<option value="13">1 PM</option>
<option value="14">2 PM</option>
<option value="15">3 PM</option>
<option value="16">4 PM</option>
<option value="17">5 PM</option>

</select>

<label>End Time</label>
<select name="end_time">

<option value="10">10 AM</option>
<option value="11">11 AM</option>
<option value="12">12 PM</option>
<option value="13">1 PM</option>
<option value="14">2 PM</option>
<option value="15">3 PM</option>
<option value="16">4 PM</option>
<option value="17">5 PM</option>
<option value="18">6 PM</option>

</select>

<button>Check Availability</button>

</form>

{% if error %}
<p style="color:red">{{error}}</p>
{% endif %}

</div>